global_defs {
   script_user root
   enable_script_security
   router_id control-plane
   vrrp_garp_master_delay 2
   vrrp_garp_master_repeat 3
   vrrp_garp_master_refresh 30
   vrrp_garp_interval 0.001
   vrrp_gna_interval 0.000001
   vrrp_no_swap
   checker_no_swap
}
vrrp_script haproxy {
    script "/etc/confd/templates/probe.sh"
    interval 2
    timeout 1
    rise 1
    fall 3
    user root root
}
vrrp_instance master {
    state BACKUP
    interface ens160
    virtual_router_id 191
    priority 191
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass Dream001
    }
    track_script {
        haproxy
    }
    virtual_ipaddress {
        192.168.1.231
    }
   unicast_src_ip 192.168.1.235
   unicast_peer { {{range $s := ls "/masterleases"}}
     {{ if ne $s "192.168.1.235" }}{{$s}}{{end}}{{end}}
   }

}
